<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="master_template :: config">
    <meta charset="UTF-8">
    <title>Bestelling</title>
</head>
<body class="h-screen flex flex-col">
<main class="flex-1">
    <div th:replace="master_template :: header"></div>
    <div class="container mx-auto mt-5">
        <h1 th:text="'Bestelling ' + ${bestelling.getBestellingId()}"
            class="text-3xl"></h1>
        <div class="grid grid-cols-4 py-4 border-b border-blue-900">
            <div th:text="'Datum: ' + ${bestelling.getFormattedDatum()}"></div>
            <div th:text="'Tafel: ' + ${bestelling.getTafel().getCode()}"></div>
            <div th:text="'Personeel: ' + ${bestelling.getZaalpersoneel().getNaam()}"></div>
            <div th:if="${bestelling.isBetaald()}">Betaald!</div>
            <div th:unless="${bestelling.isBetaald()}">
                <form th:action="@{/bestelling/__${bestelling.getBestellingId()}__/betalen}" method="get">
                    <button type="submit"
                            class="bg-green-500 hover:bg-blue-700 focus:outline-none text-white font-bold py-2 px-4 rounded-full">
                        Betalen
                    </button>
                </form>
            </div>
        </div>
        <div class="h-64 flex flex-col">
            <div class="grid grid-cols-3">
                <div class="col-span-2 border-b py-4 grid grid-cols-12 font-bold">
                    <div class="col-span-6">Naam</div>
                    <div class="col-span-2">Aantal</div>
                    <div class="col-span-2">Prijs per stuk</div>
                    <div class="col-span-2">Totaal</div>
                </div>
            </div>
            <div class="grid grid-cols-3 flex-1">
                <div class="col-span-2 grid grid-cols-12 py-3 border-b h-auto"
                     th:each="item : ${bestelling.getBesteldItems()}">
                    <div class="col-span-6 flex items-center"><p th:text="${item.getGerecht().getNaam()}"></p></div>
                    <div class="col-span-2 flex items-center"><p th:text="${item.getAantal()}"></p></div>
                    <div class="col-span-2 flex items-center"><p th:text="'€ ' + ${item.getToegepastePrijs()}"></p>
                    </div>
                    <div class="col-span-2 flex items-center"><p th:text="'€ ' + ${item.getTotaalPrijs()}"></p></div>
                </div>
            </div>
            <div class="grid grid-cols-3 font-bold pt-3">
                <div class="col-span-2 grid grid-cols-12">
                    <div class="col-span-10 pr-3 text-right">Totaalprijs:</div>
                    <div class="col-span-2" th:text="${bestelling.getTotaal()}"></div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="master_template :: footer"></footer>
</body>
</html>