<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="master_template :: config">
    <meta charset="UTF-8">
    <title>Personeel beheer</title>
</head>
<body class="h-screen flex flex-col">
<main class="Site-content flex-1">
    <div th:replace="master_template :: header"></div>
    <div class="container mx-auto mt-5">
        <h1 class="text-3xl">Personeel beheer</h1>

        <div id="beheer">
            <div class="w-9/12 grid grid-cols-3 py-4 border-b border-blue-900 font-bold">
                <div>Vakgebied</div>
                <div>Naam</div>
            </div>
            <form th:each="personeel : ${personeellijst}" th:action="@{/personeel/__${personeel.getPersoneelId()}__}"
                  method="POST"
                  class="w-9/12 grid grid-cols-3 py-4 border-b border-blue-900">
                <div th:text="${personeel.getDtype()}">
                </div>
                <div>
                    <input type="text" name="naam" th:value="${personeel.getNaam()}"
                           class="bg-gray-300 rounded border-2 border-gray-600 focus:border-gray-900 transition-color transition-duration-300 w-2/3 p-2">
                </div>
                <div class="flex items-center justify-around">
                    <button type="submit" name="action" value="save"
                            class="bg-green-500 hover:bg-green-700 text-white font-bold py-1 px-3 rounded-full">
                        Save
                    </button>
<!--                    <button type="submit" name="action" value="delete"-->
<!--                            class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-3 rounded-full">-->
<!--                        Delete-->
<!--                    </button>-->
                </div>
            </form>
            <form action="/personeel/add" method="post"
                  class="w-9/12 grid grid-cols-3 py-4 border-b border-blue-900">
                <div>
                    <select name="dtype" id="dtype">
                        <option value="zaal">Zaalpersoneel</option>
                        <option value="keuken">Keukenpersoneel</option>
                    </select>
                </div>
                <div>
                    <input type="text" name="naam"
                           class="bg-gray-300 rounded border-2 border-gray-600 focus:border-gray-900 transition-color transition-duration-300 w-2/3 p-2">
                </div>
                <div class="flex items-center justify-around">
                    <button type="submit" name="action" value="save"
                            class="bg-green-500 hover:bg-green-700 text-white font-bold py-1 px-3 rounded-full">
                        Save
                    </button>
                    <button type="submit" name="action" value="cancel"
                            class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-3 rounded-full">
                        Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
</main>
<footer th:replace="master_template :: footer"></footer>
</body>
</html>